#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.square {
  background-color: white;
  border: 2px solid skyblue;
  border-radius: 10px;
  margin-left: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  height: 70px;
  width: 70px;
  font-weight: bold;
  font-size: 3rem;
}

.square:hover {
  cursor: pointer;
}

.square:active {
  transform: scale(0.95);
}

.circle {
  color: red;
}

.cross {
  color: blue;
}

.board {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  width: 300px;
}

.board-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
  background-color: white;
}

.game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 20px;
}

.game-info ol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 4px;
  list-style: none;
}

.game-info ol li button{
  min-width: 150px;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.game-info ol li button:hover {
  cursor: pointer;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  width: 300px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > h1 {
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: monospace;
}

header p {
  max-width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0px black;
  font-weight: bold;
  font-size: 1.5rem;
}

main .game-info>h1 {
  font-weight: 400;
  font-size: 1rem;
}

.winner {
  background-color: greenyellow;
}